@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
﻿
@{
    ViewData["Title"] = "Employee List";
}



@model string

<h2>Login Form</h2>

@{
    if (Model != null)
    {
    <h3 class="p-3 mb-2 bg-success text-white ">@Model</h3>    
    }
}
<form method="post">
    <div class="form-group">
        <label>Id:</label>
        <input class="form-control" name="id"/>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" />
    </div>
    <button type="submit" class="btn btn-outline-success">submit</button>

</form>

   @*  @model IEnumerable<Employee>

     <h1 class="bg-info text-white">Employee List</h1>
     <a asp-action="Ecreate" class="btn btn-secondary">Add Employee</a>
     <table class="table table-sm table-bordered">
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Designation</th>
             <th>DepartmentId</th>
             <th>Update</th>
             <th>Delete</th>
         </tr>
         @foreach (Employee emp in Model)
         {
             <tr>
                 <th>@emp.Id</th>
                 <th>@emp.Name</th>
                 <th>@emp.Designation</th>
                 <th>@emp.Department.Name</th>
                 <th>
                     <a class="btn btn-sm btn-primary" asp-action="Eupdate"
                        asp-route-id="@emp.Id">Update</a>
                 </th>
                 <th>
                     <form method="post" asp-action="Delete" asp-route-id="@emp.Id">
                         <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                     </form>
                 </th>
             </tr>
         }

    </table>*@